In [1]:
import pandas as pd
from pathlib import Path

# Path to your folder
folder_path = Path("meta_10_folds")

# Collect all CSV files in the folder, sorted for consistent order
csv_files = sorted(folder_path.glob("batch_*.csv"))

# Read and concatenate all
df_list = [pd.read_csv(f) for f in csv_files]
df_all = pd.concat(df_list, ignore_index=True)

In [2]:
df_all

,SAMPLE_NAME,ENA_FILE_PATH,READ_COUNT,POPULATION,MD5SUM
0,NA12778,https://ftp-trace.ncbi.nlm.nih.gov/1000genomes...,696060544,CEU,b03ae320c1a3b13c750d23d28a8dbc13
1,NA12890,https://ftp-trace.ncbi.nlm.nih.gov/1000genomes...,720143520,CEU,7fc3c5b9735d74c19cc03786093534cb
2,NA18557,https://ftp-trace.ncbi.nlm.nih.gov/1000genomes...,722526246,CHB,cb55f27757254463c9eda000761f91ed
3,NA20753,https://ftp-trace.ncbi.nlm.nih.gov/1000genomes...,721885300,TSI,fac1ceba516ac43e3974d490a25d73de
4,NA20756,https://ftp-trace.ncbi.nlm.nih.gov/1000genomes...,738864574,TSI,f4008a6feb206541ef1c3b038c0dfe6e
...,...,...,...,...,...
2499,HG02188,https://ftp-trace.ncbi.nlm.nih.gov/1000genomes...,735794714,CDX,01a0d7e51da8542a9403fad9add80218
2500,HG00632,https://ftp-trace.ncbi.nlm.nih.gov/1000genomes...,700382870,CHS,f754219db5c3159967b4e426a80ee7b3
2501,HG00675,https://ftp-trace.ncbi.nlm.nih.gov/1000genomes...,704195018,CHS,b4f210c82854e9ac6e914b3a7e174346
2502,HG03025,https://ftp-trace.ncbi.nlm.nih.gov/1000genomes...,682641214,GWD,b73514e953b621c42afa76e46a02fddb
2503,HG03088,https://ftp-trace.ncbi.nlm.nih.gov/1000genomes...,781152254,MSL,bfb69d9184f3387e887a92948726fb5b

In [3]:
eur_rep1 = pd.read_csv('eur_rep1.csv')

In [6]:
pick = df_all.SAMPLE_NAME.isin(eur_rep1.sample_id)

In [7]:
sum(pick)

57

In [11]:
df_all[pick].to_csv('eur_rep1_high_coverage_info.csv')